workflows/secretaria-v3/WORKFLOWS/03. Buscar janelas disponíveis Google Calendar.json
{
  "name": "03. Buscar janelas disponíveis Google Calendar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "periodo_inicio"
            },
            {
              "name": "periodo_fim"
            },
            {
              "name": "id_agenda"
            },
            {
              "name": "tamanho_janela_minutos",
              "type": "number"
            },
            {
              "name": "granularidade",
              "type": "number"
            },
            {
              "name": "amostras",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        672,
        528
      ],
      "id": "82efbb22-0ff0-4bc4-a4ff-69f43356b225",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  },\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  },\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  },\n  \"<agenda não configurada>\": {\n    \"segunda\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"terça\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quarta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"quinta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sexta\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"12:00\"\n      }, \n      {\n        \"inicio\": \"14:00\", \n        \"fim\": \"18:00\"\n      }\n    ],\n    \"sabado\": [\n      {\n        \"inicio\": \"08:00\", \n        \"fim\": \"11:00\"\n      }\n    ], \n    \"domingo\": []\n  }\n}\n",
        "includeOtherFields": true,
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        528
      ],
      "id": "85e4c846-a90b-4d2a-9d6f-33c70da895c8",
      "name": "Disponibilidade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5c5b28b-90e4-4cc4-a962-2ea27332245a",
              "name": "periodo_inicio_timestamp",
              "value": "={{ (new Date($('Gatilho').item.json.periodo_inicio) || $now.startOf('day')).format('X') }}",
              "type": "number"
            },
            {
              "id": "5ce5160d-3506-4cb8-b282-2bd5fcf0733a",
              "name": "periodo_fim_timestamp",
              "value": "={{ (new Date($('Gatilho').item.json.periodo_fim ) || $now.plus(1,'day').startOf('day')).format('X') }}",
              "type": "number"
            },
            {
              "id": "bc1d94bb-9a0a-4d0c-a760-642a07d96cbc",
              "name": "tamanho_janela_minutos",
              "value": "={{ $('Tamanho janela válido?').item.json.tamanho_janela_minutos || 60 }}",
              "type": "number"
            },
            {
              "id": "8cfe23c6-6e54-474f-b792-91e1d5323cce",
              "name": "granularidade",
              "value": "={{ $('Tamanho janela válido?').item.json.granularidade || 30 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        528
      ],
      "id": "89d50248-4c39-43d2-b18d-d849b2ab38c1",
      "name": "Configurações"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Divide um período de tempo em \"janelas\".\n */\nconst {\n  periodo_inicio_timestamp,\n  periodo_fim_timestamp,\n  granularidade,\n  tamanho_janela_minutos,\n} = $(\"Configurações\").first().json;\n\nconst total_minutos = (periodo_fim_timestamp - periodo_inicio_timestamp) / 60;\nconst quantidade_janelas = total_minutos / granularidade;\n\nconst janelas = [];\n\nfor (let janela_i = 0; janela_i < quantidade_janelas; janela_i++) {\n  const offset_janela = janela_i * granularidade * 60;\n  const inicio_janela_timestamp = periodo_inicio_timestamp + offset_janela;\n  const fim_janela_timestamp =\n    inicio_janela_timestamp + tamanho_janela_minutos * 60;\n\n  // Não criar janelas fora do período.\n  if (fim_janela_timestamp > periodo_fim_timestamp) {\n    break;\n  }\n\n  const inicio_janela = DateTime.fromSeconds(inicio_janela_timestamp);\n  const fim_janela = DateTime.fromSeconds(fim_janela_timestamp);\n\n  janelas.push({ inicio_janela, fim_janela });\n}\n\nreturn janelas;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        528
      ],
      "id": "67d7ab47-fd31-4a8f-8593-622191466d5a",
      "name": "Gerar janelas de tempo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Filtra janelas pela disponibilidade.\n */\n\nconst DIAS = ['domingo','segunda','terça','quarta','quinta','sexta','sabado'\n];\n\nfunction tempo_para_minutos(tempo_str) {\n  const [horas, minutos] = tempo_str.split(':').map(Number);\n  return horas * 60 + minutos;\n}\n\nfunction obter_minutos_da_data(data) {\n  return data.getHours() * 60 + data.getMinutes();\n}\n\nfunction janela_dentro_disponibilidade(janela, disponibilidade) {\n  const inicio = new Date(janela.inicio_janela);\n  const fim = new Date(janela.fim_janela);\n\n  // Ignorar caso especial: inicio em fim em dias diferentes.\n  if (inicio.toDateString() !== fim.toDateString()) {\n    return false;\n  }\n\n  const dia_semana = DIAS[inicio.getDay()];\n  const disponibilidade_dia = disponibilidade[dia_semana];\n\n  if (!disponibilidade_dia || disponibilidade_dia.length === 0) {\n    return false;\n  }\n\n  const inicio_janela = obter_minutos_da_data(inicio);\n  const fim_janela = obter_minutos_da_data(fim);\n  \n  for (const periodo of disponibilidade_dia) {\n    const inicio_periodo = tempo_para_minutos(periodo.inicio);\n    const fim_periodo = tempo_para_minutos(periodo.fim);\n    \n    if (inicio_janela >= inicio_periodo && fim_janela <= fim_periodo) {\n      return true;\n    }\n  }\n  \n  return false;\n}\n\nconst janelas = $('Gerar janelas de tempo').all();\nconst { id_agenda } = $('Gatilho').first().json;\nconst disponibilidade = $('Disponibilidade').first().json[id_agenda];\n\nif (!disponibilidade) {\n  throw new Error('Disponibilidade não cadastrada para agenda. Verificar nó \"Disponibilidade\"')\n}\n\nreturn janelas.filter(janela => janela_dentro_disponibilidade(janela.json, disponibilidade));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        528
      ],
      "id": "88bf7d80-7df3-47cf-85d5-b2d6ac4a5ae8",
      "name": "Filtrar disponibilidade",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2864,
        528
      ],
      "id": "4a7be71c-f8bb-4b72-82d8-46824b077a48",
      "name": "Aleatoriza a ordem",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Selecionar amostras de janelas. Retorna todas caso número de amostras não seja informado.\n */\n\nconst { amostras } = $(\"Gatilho\").first().json;\n\nconst janelas = $(\"Aleatoriza a ordem\")\n  .all()\n  .map(({ json }) => json)\n  // Se `amostras` não foi informado, retorna todas as janelas\n  .slice(0, amostras ?? undefined);\n\nreturn janelas.sort(\n  (a, b) =>\n    new Date(a.inicio_janela).getTime() -\n    new Date(b.inicio_janela).getTime()\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        528
      ],
      "id": "3bfe4168-57df-4a1f-befe-46645ee94b1a",
      "name": "Selecionar amostras",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * Verificar se as janelas de tempo disponíveis não conflitam com eventos já agendados.\n */\nconst janelas = $(\"Selecionar amostras\")\n  .all()\n  .map(({ json }) => ({\n    inicio_janela: DateTime.fromJSDate(new Date(json.inicio_janela)),\n    fim_janela: DateTime.fromJSDate(new Date(json.fim_janela)),\n  }));\n\nconst eventos = $(\"Consulta eventos no período\").all();\n\n// Se não há eventos agendados, todas as janelas estão disponíveis\nif (Object.keys(eventos[0].json).length === 0) {\n  return janelas.map(({ inicio_janela, fim_janela }) => ({\n    inicio_janela,\n    fim_janela,\n  }));\n}\n\nconst periodo_eventos = eventos.map(({ json }) => ({\n  inicio_evento: DateTime.fromJSDate(new Date(json.start.dateTime)),\n  fim_evento: DateTime.fromJSDate(new Date(json.end.dateTime)),\n}));\n\nreturn janelas\n  .filter(({ inicio_janela, fim_janela }) => {\n    for (const { inicio_evento, fim_evento } of periodo_eventos) {\n      if (inicio_janela < fim_evento && fim_janela > inicio_evento) {\n        // Overlap da janela com o evento\n        return false;\n      }\n    }\n    return true;\n  })\n  .map(({ inicio_janela, fim_janela }) => ({\n    inicio_janela,\n    fim_janela,\n  }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        528
      ],
      "id": "7e59684f-51f1-430d-88f6-0e4fa0b0db31",
      "name": "Verificar eventos na agenda",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e63d847-edcd-4d79-9526-b9d42f1358c7",
              "leftValue": "={{ [10, 15, 20, 30, 45, 60, 90, 120] }}",
              "rightValue": "={{ $json.tamanho_janela_minutos || 60 }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "e06a278f-6b16-4f1e-8e04-78002eb7f02d",
              "leftValue": "={{ [10, 15, 20, 30, 45, 60, 90, 120] }}",
              "rightValue": "={{ $json.granularidade || 30 }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        528
      ],
      "id": "2851c19e-310e-46c1-96e8-e572b830fafb",
      "name": "Tamanho janela válido?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $('Configurações').item.json.periodo_inicio_timestamp.toDateTime('s') }}",
        "timeMax": "={{ $('Configurações').item.json.periodo_fim_timestamp.toDateTime('s') }}",
        "options": {
          "recurringEventHandling": "expand",
          "showHiddenInvitations": true
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1760,
        528
      ],
      "id": "4d947b1a-3ab1-404e-a6a2-7df906fea36a",
      "name": "Consulta eventos no período",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed84157f-b3d7-454c-88e9-099a28153c0a",
              "leftValue": "={{ $('Gatilho').item.json.periodo_inicio.toDateTime() }}",
              "rightValue": "= {{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        528
      ],
      "id": "a201a9cf-5295-42a1-9f9c-d06f2040c648",
      "name": "Período válido?"
    },
    {
      "parameters": {
        "content": "### Configurar disponibilidade!",
        "height": 256,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        448
      ],
      "typeVersion": 1,
      "id": "e325d08a-9318-4a03-bef2-dee5fac9aba3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "568f0822-bbc7-4e96-a32c-63953201e5b5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        528
      ],
      "id": "8e85c135-bd50-4703-8c6f-89935dff3b4b",
      "name": "Alguma janela?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "568f0822-bbc7-4e96-a32c-63953201e5b5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        528
      ],
      "id": "61b7921d-a472-4810-b432-9c84a95dddc8",
      "name": "Alguma janela?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2864,
        720
      ],
      "id": "d840108b-2a41-49e4-9f48-8900931761ae",
      "name": "Retorna vazio"
    },
    {
      "parameters": {
        "errorMessage": "Tamanho da janela ou granularidade inválidos. Utilize um desses valores: [10, 15, 20, 30, 45, 60, 90, 120]"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1088,
        720
      ],
      "id": "af211daa-5449-4f2e-9bef-e136fb321207",
      "name": "Janela inválida"
    },
    {
      "parameters": {
        "errorMessage": "Período informado já passou."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1312,
        720
      ],
      "id": "16450bda-956c-4116-98ee-214bcb8baf7b",
      "name": "Período inválido"
    },
    {
      "parameters": {
        "content": "## Configurações e validações",
        "height": 480,
        "width": 1072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        416
      ],
      "typeVersion": 1,
      "id": "a485612e-8bb2-4cd6-a61b-ae2ef152aade",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar eventos e construir janelas",
        "height": 480,
        "width": 1840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        416
      ],
      "typeVersion": 1,
      "id": "d73a09dc-3e8c-4e51-9b27-a1a400aaca25",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Abrir node do Google Calendar e criar nova credencial\n- [ ] Configurar node \"Disponibilidade\"\n",
        "height": 144,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        704
      ],
      "id": "81d6df21-f78f-4662-a29e-bf1813d255a8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 03. Buscar janelas disponíveis Google Calendar",
        "height": 80,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -192
      ],
      "id": "7693f296-001e-4a49-8c5b-9960d622c8d4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -96
      ],
      "id": "f35924c1-6851-45a0-abed-4ca361f84a11",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -96
      ],
      "id": "5fa06419-677b-4011-ba1b-c97f6bd77fb2",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        352
      ],
      "id": "157b31ef-6b92-4a05-969e-8b02cb264f1f",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        464
      ],
      "id": "82a41beb-b75e-4c2b-8fc9-6d8cc3cf02ec",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -96
      ],
      "id": "880dad6f-0c17-4d34-97c1-1136a8233abb",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](FzVcigfqHjU)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        -96
      ],
      "id": "e5669d02-4c7e-487c-bc57-b176d24f5763",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Tamanho janela válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade": {
      "main": [
        [
          {
            "node": "Configurações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurações": {
      "main": [
        [
          {
            "node": "Consulta eventos no período",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar janelas de tempo": {
      "main": [
        [
          {
            "node": "Alguma janela?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar disponibilidade": {
      "main": [
        [
          {
            "node": "Alguma janela?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aleatoriza a ordem": {
      "main": [
        [
          {
            "node": "Selecionar amostras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar amostras": {
      "main": [
        [
          {
            "node": "Verificar eventos na agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tamanho janela válido?": {
      "main": [
        [
          {
            "node": "Período válido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Janela inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta eventos no período": {
      "main": [
        [
          {
            "node": "Gerar janelas de tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Período válido?": {
      "main": [
        [
          {
            "node": "Disponibilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Período inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alguma janela?": {
      "main": [
        [
          {
            "node": "Filtrar disponibilidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alguma janela?1": {
      "main": [
        [
          {
            "node": "Aleatoriza a ordem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6b187d6-4f87-47a0-a2c9-56d558db14f4",
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  },
  "id": "jvoL1jcI9zAvMYK9",
  "tags": []
}
