workflows/secretaria-v3/WORKFLOWS/04. Criar evento Google Calendar.json
{
  "name": "04. Criar evento Google Calendar",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "start": "={{ $('Gatilho').item.json.evento_inicio }}",
        "end": "={{ $('Calcula fim do evento').item.json.evento_fim }}",
        "additionalFields": {
          "attendees": [],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Gatilho').item.json.descricao }}",
          "summary": "={{ $('Gatilho').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1760,
        544
      ],
      "id": "07b0d534-22db-4254-ae17-6d4e0efc1271",
      "name": "Cria o evento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0423c482-5749-4c92-ba44-a33b281918a6",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        640
      ],
      "id": "16a5cbd1-34c4-4847-97cc-e158e9aff382",
      "name": "Janela disponível?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a677f76-5e00-43f7-8f7d-6de17744391b",
              "name": "erro",
              "value": "HORÁRIO INDISPONÍVEL. VERIFICAR SE AGENDAMENTO JÁ NÃO FOI REALIZADO PARA ESSE CONTATO.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        768
      ],
      "id": "259ae434-444a-4bea-8583-39b6752e08da",
      "name": "Retorna \"horário indisponível\""
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "evento_inicio"
            },
            {
              "name": "duracao_minutos",
              "type": "number"
            },
            {
              "name": "titulo"
            },
            {
              "name": "descricao"
            },
            {
              "name": "id_agenda"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        640
      ],
      "id": "cc83f38a-01f6-45cc-8625-b6e48263a5bf",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a94abf94-1a64-4995-b4f1-4644993b3ece",
              "name": "evento_fim",
              "value": "={{ $('Gatilho').item.json.evento_inicio.toDateTime().plus($('Gatilho').item.json.duracao_minutos, 'minutes').toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        640
      ],
      "id": "7d8e7c37-894e-4ac3-8dbe-a447b1450f81",
      "name": "Calcula fim do evento"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZGnLV8lGj8wz8r2T",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZGnLV8lGj8wz8r2T",
          "cachedResultName": "<selecionar ou criar subworkflow 03. Buscar janelas disponíveis Google Calendar>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tamanho_janela_minutos": "={{ $('Gatilho').item.json.duracao_minutos }}",
            "periodo_inicio": "={{ $('Gatilho').item.json.evento_inicio }}",
            "periodo_fim": "={{ $('Calcula fim do evento').item.json.evento_fim }}",
            "id_agenda": "={{ $('Gatilho').item.json.id_agenda }}",
            "amostras": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        640
      ],
      "id": "d0aa124c-e961-4a0d-9919-67bd70708ef9",
      "name": "Buscar janelas disponíveis",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "### Configurar subworkflow!",
        "height": 256,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        560
      ],
      "typeVersion": 1,
      "id": "37d4df42-2cc3-457d-aa31-a1c4c1771708",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] \"Buscar janelas disponíveis\" -> Subworkflow 03\n- [ ] Abrir node do Google Calendar para selecionar credencial",
        "height": 144,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        832
      ],
      "id": "bf89dbb2-ed4f-448f-b7d2-9c9025055862",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 04. Criar evento Google Calendar",
        "height": 80,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -160
      ],
      "id": "28ed6187-b21d-4122-bcec-093d00dcbb15",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Buscar janelas",
        "height": 432,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        480
      ],
      "typeVersion": 1,
      "id": "048b17a2-bda2-442a-b8da-2e5893a300d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criar o evento",
        "height": 208,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        480
      ],
      "typeVersion": 1,
      "id": "47f51503-a53b-46b2-a482-60b80c6f08e3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Horário indisponível",
        "height": 208,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        704
      ],
      "typeVersion": 1,
      "id": "ccfa036a-f8b0-4f90-99a4-440cbaedef54",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faa4a0a7-cdb9-4729-8a7e-27193513b89a",
              "name": "resultado",
              "value": "AGENDAMENTO CRIADO",
              "type": "string"
            },
            {
              "id": "e6ee1079-a033-4240-be55-f2fbfdcc94b2",
              "name": "id_evento",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        544
      ],
      "id": "9c4f125e-3fea-44e0-af0c-cffc8fb06392",
      "name": "Retorna evento criado"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -64
      ],
      "id": "fdbcecea-ed49-485b-ab69-c2d731036bdb",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        -64
      ],
      "id": "1790b237-cc20-4e65-b9c9-9350a4401fcc",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        384
      ],
      "id": "da7705ee-5612-4515-856a-9b20e91fa529",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        480
      ],
      "id": "273c86a1-f280-4561-b554-e29f44e9eefa",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -64
      ],
      "id": "4831d9d5-14c3-4148-8f85-b1f579b72d60",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](dy20Uh-dyHs)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2208,
        480
      ],
      "id": "c7f44830-9126-4b9b-bc82-0f2943a92d61",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "Cria o evento": {
      "main": [
        [
          {
            "node": "Retorna evento criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Janela disponível?": {
      "main": [
        [
          {
            "node": "Cria o evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna \"horário indisponível\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Calcula fim do evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula fim do evento": {
      "main": [
        [
          {
            "node": "Buscar janelas disponíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponíveis": {
      "main": [
        [
          {
            "node": "Janela disponível?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ccb37a5-636d-4d22-be9f-e4f6591aea04",
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  },
  "id": "hH0oF6zD4dOLTZsk",
  "tags": []
}
