workflows/secretaria-v3/WORKFLOWS/06. Integração Asaas.json
{
  "name": "06. Integração Asaas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cobranca_valor"
            },
            {
              "name": "cobranca_vencimento"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "cpf"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_contato"
            },
            {
              "name": "asaas_id_cliente"
            },
            {
              "name": "asaas_id_cobranca"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "url_asaas"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1600,
        688
      ],
      "id": "f15e9cd0-1cd9-4c1d-bca0-15c0b618d837",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "732205dd-9ea0-4095-9069-48c30b056787",
              "leftValue": "={{ $('Gatilho').item.json.asaas_id_cobranca }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        688
      ],
      "id": "9bbe02de-5b7e-4422-8f91-fd53ba5f0628",
      "name": "Cobrança já existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "732205dd-9ea0-4095-9069-48c30b056787",
              "leftValue": "={{ $('Gatilho').item.json.asaas_id_cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1984,
        688
      ],
      "id": "64fcba43-57aa-4bc4-8e9e-2ff892e1c3f3",
      "name": "Cliente já existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Gatilho').item.json.nome }}"
            },
            {
              "name": "cpfCnpj",
              "value": "={{ $('Gatilho').item.json.cpf }}"
            },
            {
              "name": "mobilePhone",
              "value": "={{ $('Gatilho').item.json.telefone.replace(/^\\+55/, '') }}"
            },
            {
              "name": "externalReference",
              "value": "={{ $('Gatilho').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        816
      ],
      "id": "b4929378-d18d-4555-8d5c-0090169a6a0b",
      "name": "Criar cliente"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/{{ $('Gatilho').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": {\n    \"asaas_id_cliente\": \"{{ $('Criar cliente').item.json.id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        816
      ],
      "id": "2d2a97c8-a18d-4cc0-ae3c-0b0721c1796c",
      "name": "Atualizar ID cliente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $('Gatilho').item.json.asaas_id_cliente || $json.payload.custom_attributes.asaas_id_cliente }}"
            },
            {
              "name": "billingType",
              "value": "=PIX"
            },
            {
              "name": "value",
              "value": "={{ $('Gatilho').item.json.cobranca_valor }}"
            },
            {
              "name": "dueDate",
              "value": "={{ $('Gatilho').item.json.cobranca_vencimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        688
      ],
      "id": "fda8d412-25b9-41dc-a321-564e96346861",
      "name": "Criar cobrança"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/contacts/{{ $('Gatilho').item.json.id_contato }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": {\n    \"asaas_id_cobranca\": \"{{ $('Criar cobrança').item.json.id }}\",\n    \"asaas_status_cobranca\": \"{{ $('Criar cobrança').item.json.status }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        688
      ],
      "id": "6c0acc33-bbce-4f27-9362-14e0c0c8d917",
      "name": "Atualizar cobrança"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd18e79e-4784-4aa3-9c8a-6e43241f712c",
              "name": "resultado",
              "value": "=Cobrança criada.",
              "type": "string"
            },
            {
              "id": "ad5ed334-a247-4533-b1a3-4c9366840048",
              "name": "valor",
              "value": "={{ $('Criar cobrança').item.json.value }}",
              "type": "string"
            },
            {
              "id": "e5a4770c-6799-48ac-b779-d95f5462ba83",
              "name": "vencimento",
              "value": "={{ $('Criar cobrança').item.json.dueDate }}",
              "type": "string"
            },
            {
              "id": "6c866d58-967b-41c8-bb70-1517ee8f6f83",
              "name": "link",
              "value": "={{ $('Criar cobrança').item.json.invoiceUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        688
      ],
      "id": "31d01634-af90-4f92-8b26-104f6578b3e4",
      "name": "Resultado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/payments/{{ $('Gatilho').item.json.asaas_id_cobranca }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        480
      ],
      "id": "459c2c3e-8c40-4250-b2cf-22cf31a52bfd",
      "name": "Buscar cobrança"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd18e79e-4784-4aa3-9c8a-6e43241f712c",
              "name": "resultado",
              "value": "=Cliente já possui cobrança criada.",
              "type": "string"
            },
            {
              "id": "ad5ed334-a247-4533-b1a3-4c9366840048",
              "name": "valor",
              "value": "={{ $('Buscar cobrança').item.json.value }}",
              "type": "string"
            },
            {
              "id": "e5a4770c-6799-48ac-b779-d95f5462ba83",
              "name": "vencimento",
              "value": "={{ $('Buscar cobrança').item.json.dueDate }}",
              "type": "string"
            },
            {
              "id": "6c866d58-967b-41c8-bb70-1517ee8f6f83",
              "name": "link",
              "value": "={{ $('Buscar cobrança').item.json.invoiceUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        480
      ],
      "id": "3b72d498-1875-4cd5-a3c7-e46457b79311",
      "name": "Cliente já tem cobrança"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1216,
        1104
      ],
      "id": "1b990079-9dc1-4821-b655-1da58232a4c3",
      "name": "Cobrança atualizada"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"PENDING\": \"Pendente\",\n  \"RECEIVED\": \"Cobrança recebida\",\n  \"CONFIRMED\": \"Cobrança confirmada\",\n  \"OVERDUE\": \"Cobrança vencida\",\n  \"REFUNDED\": \"Cobrança estornada\",\n  \"RECEIVED_IN_CASH\": \"Cobrança recebida em dinheiro\",\n  \"REFUND_REQUESTED\": \"Solicitação de estorno\",\n  \"REFUND_IN_PROGRESS\": \"Estorno em andamento\",\n  \"CHARGEBACK_REQUESTED\": \"Recebido chargeback\",\n  \"CHARGEBACK_DISPUTE\": \"Em disputa de chargeback\",\n  \"AWAITING_CHARGEBACK_REVERSAL\": \"Disputa vencida\",\n  \"DUNNING_REQUESTED\": \"Requisição de negativação\",\n  \"DUNNING_RECEIVED\": \"Recebimento de negativação\",\n  \"AWAITING_RISK_ANALYSIS\": \"Aguardando análise de risco\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        1104
      ],
      "id": "39c7c6eb-895b-4ad9-aed3-be49b9e3c010",
      "name": "Mapeamento status"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Buscar contato Chatwoot').item.json.payload.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": {\n    \"asaas_status_cobranca\": \"{{ $('Mapeamento status').item.json[$('Info').item.json.status_cobranca] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        1104
      ],
      "id": "e8294dbe-1f05-4c85-88c9-f41e8facda5d",
      "name": "Atualizar status cobrança"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        1024
      ],
      "typeVersion": 1,
      "id": "b909a975-4152-42ed-995a-40162c850a8b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2191c687-2639-42a2-aaf6-b1e6bf064539",
              "leftValue": "={{ \n[\n  \"PAYMENT_CONFIRMED\",\n  \"PAYMENT_REFUNDED\",\n  \"PAYMENT_CHARGEBACK_REQUESTED\",\n  \"PAYMENT_AWAITING_CHARGEBACK_REVERSAL\",\n  \"PAYMENT_DUNNING_REQUESTED\",\n  \"PAYMENT_AWAITING_RISK_ANALYSIS\",\n  \"PAYMENT_RECEIVED\",\n  \"PAYMENT_OVERDUE\",\n  \"PAYMENT_REFUND_IN_PROGRESS\",\n  \"PAYMENT_CHARGEBACK_DISPUTE\",\n  \"PAYMENT_DUNNING_RECEIVED\"\n]\n}}",
              "rightValue": "={{ $('Cobrança atualizada').item.json.body.event }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        1104
      ],
      "id": "9800b9c0-9f0a-4f76-941e-bff19eaa11de",
      "name": "Cobrança atualizada?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1632,
        1296
      ],
      "id": "8b291311-ee97-426f-8f4b-1139529fd070",
      "name": "Evento ignorado"
    },
    {
      "parameters": {
        "errorMessage": "=Cobrança recebida de usuário não cadastrado.\n\nNome: {{ $('Buscar cliente Asaas').item.json.name }}\nTelefone: {{ $('Buscar cliente Asaas').item.json.mobilePhone }}\nCPF: {{ $('Buscar cliente Asaas').item.json.cpfCnpj }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2256,
        1280
      ],
      "id": "0c87bd1c-aaa6-4872-a16a-59728e250ad6",
      "name": "Usuário não cadastrado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea586fb4-8b58-410a-9e03-73fe95ab131d",
              "leftValue": "={{ $json.externalReference }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        1104
      ],
      "id": "10be60da-ba48-4d7f-b8ad-d77ecca7b6e8",
      "name": "Usuário cadastrado?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae08e067-77ae-4dda-8836-06582b652d5b",
              "name": "url_chatwoot",
              "value": "<inserir url do seu chatwoot>",
              "type": "string"
            },
            {
              "id": "f7de1f05-e3ec-43a4-8c35-393e1d1c9e13",
              "name": "id_conta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "c6782838-973c-4da6-881c-0e3056ac2e47",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "3540d6b2-13bf-4531-8c01-305e84f64989",
              "name": "payment_id",
              "value": "={{ $('Cobrança atualizada').item.json.body.payment.id }}",
              "type": "string"
            },
            {
              "id": "ae8fd23e-7d35-400a-85ed-e2e02cc4f1a7",
              "name": "customer_id",
              "value": "={{ $('Cobrança atualizada').item.json.body.payment.customer }}",
              "type": "string"
            },
            {
              "id": "26494914-8ae8-4b7a-8e32-70e039d8e824",
              "name": "status_cobranca",
              "value": "={{ $('Cobrança atualizada').item.json.body.payment.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        1104
      ],
      "id": "8961bb25-dc65-49b0-a0bc-93fddbc2b71d",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "522ff72f-ffea-4bb8-9ddd-55710495a5fb",
              "leftValue": "={{ $('Info').item.json.status_cobranca }}",
              "rightValue": "RECEIVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8ab4cad7-8abe-436f-8647-5acea4e562e9",
              "leftValue": "={{ $('Info').item.json.status_cobranca }}",
              "rightValue": "CONFIRMED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2848,
        1104
      ],
      "id": "7a116417-87f7-4987-a7c3-5e9dcf65c1ca",
      "name": "Pagamento recebido?"
    },
    {
      "parameters": {
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Buscar cliente Asaas').item.json.externalReference }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        1104
      ],
      "id": "0320c624-ecbc-4974-aa02-665dcce9f435",
      "name": "Buscar contato Chatwoot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_asaas }}/v3/customers/{{ $('Info').item.json.customer_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        1104
      ],
      "id": "58b69c0a-7143-4508-abf5-9285e9a788ed",
      "name": "Buscar cliente Asaas"
    },
    {
      "parameters": {
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/contacts/{{ $('Buscar contato Chatwoot').item.json.payload.id }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1104
      ],
      "id": "bbc0d30c-ad27-423a-badf-afe8c0c34bfe",
      "name": "Listar conversas Chatwoot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Listar conversas Chatwoot').item.json.payload.last().id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Agente de notificação de pagamento').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3584,
        1104
      ],
      "id": "31ace36c-6b29-4065-9502-1b1f47cfd43b",
      "name": "Enviar notificação"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<confirmação de pagamento recebida no valor de R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}>",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual da Clínica Moreira, responsável por notificar pacientes sobre confirmações de pagamento via WhatsApp. Sua única função é enviar uma mensagem cordial confirmando o recebimento do pagamento e relembrando os detalhes da consulta agendada.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Cordial e profissional**: Mantenha tom positivo e acolhedor\n  * **Objetiva**: Seja direta na confirmação sem ser fria\n  * **Tranquilizadora**: Transmita segurança sobre o processo\n  * **Atenciosa**: Relembre informações importantes da consulta\n</personalidade>\n\n# CONTEXTO DA TAREFA\n\n<contexto>\n  O sistema acaba de receber confirmação automática de pagamento de uma consulta. Você deve:\n  1. Confirmar o recebimento do pagamento\n  2. Relembrar data, horário e profissional da consulta\n  3. Fornecer informações básicas de comparecimento\n\n  **IMPORTANTE**: Esta é uma mensagem proativa - o paciente não enviou mensagem solicitando informação.\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. IDENTIFICAÇÃO DO CONTEXTO\n\n<identificacao-contexto>\n  ### 1.1 Análise da Conversa\n\n  1. Revise o histórico para identificar o agendamento relacionado\n  2. Identifique o profissional e agenda utilizados\n  3. Localize informações relevantes do paciente\n\n  ### 1.2 Validação de Dados\n\n  * Confirme que existe agendamento ativo\n</identificacao-contexto>\n\n## 2. BUSCA DE INFORMAÇÕES DO AGENDAMENTO\n\n<busca-agendamento>\n  ### 2.1 Execução da Busca\n\n  1. Use \"Buscar_agendamentos_do_contato\" com o ID da agenda identificado\n  2. Recupere:\n    * Data e horário da consulta\n    * Nome do profissional\n    * Especialidade\n\n  ### 2.2 Tratamento de Falhas\n\n  Se a busca falhar ou não encontrar agendamento:\n  * Prossiga com confirmação genérica\n  * Não mencione erro ao paciente\n  * Mantenha tom positivo\n</busca-agendamento>\n\n## 3. COMPOSIÇÃO DA MENSAGEM\n\n<composicao-mensagem>\n  ### 3.1 Estrutura da Mensagem\n\n  ```\n  SAUDAÇÃO\n  ↓\n  CONFIRMAÇÃO DO PAGAMENTO\n  ↓\n  DETALHES DA CONSULTA (se disponíveis)\n  ↓\n  ORIENTAÇÕES BÁSICAS\n  ↓\n  ENCERRAMENTO CORDIAL\n  ```\n\n  ### 3.2 Elementos Obrigatórios\n\n  * Saudação apropriada ao horário atual\n  * Confirmação explícita do recebimento\n  * Valor recebido: R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}\n  * Agradecimento pela confiança\n\n  ### 3.3 Elementos Condicionais\n\n  Se os dados da consulta estiverem disponíveis:\n  * Data e horário exatos\n  * Nome do profissional\n  * Endereço da clínica\n  * Recomendação de chegar com antecedência\n</composicao-mensagem>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Recuperar detalhes do agendamento ativo\n    **Quando**: Sempre, no início do processo\n    **Parâmetros**: ID da agenda (não chamar ferramenta caso não seja identificado o ID da agenda no histórico da conversa)\n    **Tratamento de erro**: Prosseguir com mensagem genérica\n  </ferramenta>\n</ferramentas>\n\n# VALIDAÇÕES E REGRAS\n\n<validacoes>\n  ## Regras Críticas\n\n  1. **Proibições Absolutas**\n    * NUNCA solicitar informações adicionais ao paciente\n    * NUNCA mencionar erros técnicos ou falhas\n    * NUNCA questionar o valor ou forma de pagamento\n    * NUNCA agendar ou remarcar consultas\n\n  2. **Obrigações**\n    * SEMPRE iniciar com saudação (mensagem proativa)\n    * SEMPRE confirmar o recebimento do pagamento\n    * SEMPRE manter tom positivo e profissional\n    * SEMPRE ser breve e objetiva\n\n  3. **Limitações**\n    * Uma única mensagem de resposta\n    * Máximo de 5-7 linhas de texto\n    * Foco exclusivo na notificação\n</validacoes>\n\n# EXEMPLOS DE MENSAGENS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Com Dados Completos da Consulta\n\n  ```\n  Bom dia, Sr. João Carlos!\n\n  Confirmo o recebimento do pagamento de R$ 500,00 referente à sua consulta.\n\n  Lembrando que sua consulta está marcada para quinta-feira, dia 12/12 às 09:00 com o Dr. Roberto Almeida.\n\n  Nosso endereço é Av. das Palmeiras, 1500 - Jardim América. Recomendamos chegar com 15 minutos de antecedência.\n\n  Agradecemos a confiança!\n  Clínica Moreira\n  ```\n  \n  ## Exemplo 2: Sem Dados da Consulta (Falha na Busca)\n\n  ```\n  Boa tarde!\n\n  Confirmamos o recebimento do seu pagamento de R$ 500,00.\n\n  Aguardamos você no dia e horário da sua consulta agendada.\n\n  Qualquer dúvida, estamos à disposição.\n\n  Obrigada pela confiança!\n  Clínica Moreira\n  ```\n</exemplos>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## LEMBRE-SE SEMPRE\n\n  * ⚠️ Você está enviando uma mensagem PROATIVA - inicie com saudação\n  * ⚠️ Seja BREVE - paciente não solicitou informações\n  * ⚠️ NUNCA exponha problemas técnicos ao paciente\n  * ⚠️ NUNCA peça informações ou ações adicionais\n  * ⚠️ Mantenha o foco EXCLUSIVO na confirmação do pagamento\n\n  ## VERIFICAÇÕES IMPORTANTES\n\n  * O valor do pagamento foi de: R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}\n  * A mensagem é uma notificação automática do sistema\n  * O paciente já tem todas as informações necessárias\n\n  ## ASSINATURA\n\n  * Sempre assine como \"Clínica Moreira\" ao final\n  * Não use \"Maria\" na assinatura desta mensagem automática\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Valor Recebido**: R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3088,
        1104
      ],
      "id": "52624c36-b1f8-44bb-bb36-51a826b09678",
      "name": "Agente de notificação de pagamento",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Criar ou buscar cobrança",
        "height": 544,
        "width": 1904,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        416
      ],
      "typeVersion": 1,
      "id": "368dd412-c785-4a0d-a6b9-a52da169e3bb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Atualizar status da cobrança",
        "height": 480,
        "width": 1616,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        976
      ],
      "typeVersion": 1,
      "id": "4c9cd268-d4b8-477d-8a64-35070f2f9488",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Enviar notificação de pagamento",
        "height": 480,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        976
      ],
      "typeVersion": 1,
      "id": "59cbf6cb-c245-4c77-91e3-e3f0d99847b5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3024,
        1312
      ],
      "id": "b1cd485d-d87b-43f9-a0cd-ea92abfec73b",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Buscar contato Chatwoot').item.json.payload.phone_number }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3136,
        1312
      ],
      "id": "87227ab3-3c14-4219-9255-0849a964bf8b",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/customers/{{ $('Gatilho').item.json.asaas_id_cliente }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        640
      ],
      "id": "d75f2742-c288-43f0-bfa9-7559021b4e06",
      "name": "Buscar cliente"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/customers/{{ $('Gatilho').item.json.asaas_id_cliente }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpfCnpj",
              "value": "={{ $('Gatilho').item.json.cpf }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        560
      ],
      "id": "8d6c9462-f24b-4e8c-b5d3-866faeaf3d0e",
      "name": "Atualizar cliente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65e678fe-8719-4e6c-b9d9-22a82d0c252d",
              "leftValue": "={{ $('Buscar cliente').item.json.cpfCnpj }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        640
      ],
      "id": "ffff2687-b99c-44a8-b1f3-88659ef5bd46",
      "name": "Cadastro CPF pendente?"
    },
    {
      "parameters": {
        "content": "# Checklist - Criar conta no Asaas\n\n\n\n\n[Clique aqui para criar sua conta no Asaas.](https://www.asaas.com/r/5ec90fd5-677d-40c7-b577-cc1f6de62fec)\n\n\n\n\n- [ ] Após criar a conta, vá no menu \"Integrações\", e clique em \"Criar conta Sandbox\" para ter acesso ao ambiente de testes\n- [ ] Na conta Sandbox, no mesmo menu \"Integrações\", ir na aba Chaves de API para criar uma nova chave\n- [ ] Nome da chave: \"Secretária v3\". Não é necessário colocar data de expiração\n- [ ] Copiar chave de API criada",
        "height": 336,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        416
      ],
      "id": "e02afd23-a346-4f10-b567-d86996332e12",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 06. Integração Asaas",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -240
      ],
      "id": "39d78b75-b43d-4fbe-8028-e355d48f70ed",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "[![Logo Asaas](https://cdn.brandfetch.io/idLRcDynC3/w/820/h/245/theme/light/logo.png?c=1bxid64Mup7aczewSAYMX&t=1759336410985)](https://www.asaas.com/r/5ec90fd5-677d-40c7-b577-cc1f6de62fec)",
        "height": 112,
        "width": 262,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        480
      ],
      "typeVersion": 1,
      "id": "c190c794-3844-4f00-becc-a2e5e0e637c9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3248,
        1312
      ],
      "id": "afca8ee3-cfaa-4c74-9e39-d43739706c6e",
      "name": "Refletir"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $('Buscar contato Chatwoot').item.json.payload.phone_number }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3360,
        1312
      ],
      "id": "ca2ffea4-494e-4a62-9322-cfeda384e147",
      "name": "Buscar agendamentos do contato"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -144
      ],
      "id": "b47d67f7-dc4a-4156-a357-ad63147f7864",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -144
      ],
      "id": "7f34f5c1-9038-4739-9b48-02ef669e4e6a",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "# Checklist - Criar ou buscar cobrança\n- [ ] Abrir node \"Buscar cobrança\" para criar credencial \"Header Auth\"\n- [ ] `Name`: `access_token`\n- [ ] `Value`: colar chave de API do Asaas\n- [ ] Renomear credencial para \"Asaas\"\n- [ ] Abrir nodes do Asaas e do Chatwoot para selecionar as credenciais",
        "height": 208,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        368
      ],
      "id": "6df5ba75-ca03-438c-ad03-419d32bdf873",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# Checklist - Atualizar status da cobrança\n- [ ] Configurar node \"Info\"\n- [ ] Abrir nodes do Asaas, Chatwoot, OpenAI, Postgres, e Google Calendar para selecionar as credenciais\n- [ ] Copiar URL de produção do Webhook e criar um novo Webhook na seção [\"Integrações\" -> \"Webhooks\" do Asaas](https://sandbox.asaas.com/customerConfigIntegrations/webhooks)\n- [ ] Preencher \"Nome\" (\"Secretária v3\"), \"Email\", \"Versão\" -> v3\n- [ ] \"Tipo de envio\" -> \"Sequencial\"\n- [ ] Criar uma senha segura e inserir em \"Token de autenticação\"\n- [ ] Na seção \"Cobranças\" -> \"Selecionar todos\"\n- [ ] Salvar\n- [ ] No node \"Cobrança atualizada\", selecionar \"Authentication\" -> \"Header Auth\" -> \"Create new credential\"\n- [ ] `Name`: `asaas-access-token`\n- [ ] `Value`: a senha inserida no campo \"Token de autenticação\" no Asaas\n- [ ] Renomear credencial para \"Asaas - Token webhook\"\n- [ ] Ativar workflow",
        "height": 432,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        1264
      ],
      "id": "d580a70c-78ca-497f-959e-507d35997b2e",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        304
      ],
      "id": "bde84230-327c-4ae9-a338-b740c0ff61a4",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "id": "f4808fba-8c92-4a35-a798-e9facb7f6c24",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -144
      ],
      "id": "98de426d-5a80-41e4-a10d-26032657599c",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "@[youtube](XLo1UWMXr_0)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        736
      ],
      "id": "a1e45888-8789-4faa-9945-5edf3eed67d9",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Cobrança já existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobrança já existe?": {
      "main": [
        [
          {
            "node": "Buscar cobrança",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cliente já existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente já existe?": {
      "main": [
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar cliente": {
      "main": [
        [
          {
            "node": "Atualizar ID cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar ID cliente": {
      "main": [
        [
          {
            "node": "Criar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar cobrança": {
      "main": [
        [
          {
            "node": "Atualizar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar cobrança": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cobrança": {
      "main": [
        [
          {
            "node": "Cliente já tem cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobrança atualizada": {
      "main": [
        [
          {
            "node": "Cobrança atualizada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeamento status": {
      "main": [
        [
          {
            "node": "Buscar contato Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar status cobrança": {
      "main": [
        [
          {
            "node": "Pagamento recebido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobrança atualizada?": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário cadastrado?": {
      "main": [
        [
          {
            "node": "Mapeamento status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usuário não cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Buscar cliente Asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagamento recebido?": {
      "main": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato Chatwoot": {
      "main": [
        [
          {
            "node": "Atualizar status cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente Asaas": {
      "main": [
        [
          {
            "node": "Usuário cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar conversas Chatwoot": {
      "main": [
        [
          {
            "node": "Enviar notificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de notificação de pagamento": {
      "main": [
        [
          {
            "node": "Listar conversas Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "Cadastro CPF pendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar cliente": {
      "main": [
        [
          {
            "node": "Criar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastro CPF pendente?": {
      "main": [
        [
          {
            "node": "Atualizar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "214b718a-483f-4f90-857d-f3e3aa880c99",
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  },
  "id": "2F8DAmGL9LqmYyel",
  "tags": []
}
