workflows/secretaria-v3/WORKFLOWS/07.1 [ZAPI] Quebrar e enviar mensagens.json
{
  "name": "07.1 [ZAPI] Quebrar e enviar mensagens",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Gatilho').item.json.id_conta }}/conversations/{{ $('Gatilho').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Para cada mensagem').item.json.mensagem.replaceAll('\\n', '\\\\n') }}\",\n  \"content_attributes\": {\n    \"zapi_args\": {\n      \"delayTyping\": {{ Math.min(60*$('Velocidade digitação').item.json.tamanho_mensagem_palavras/$('Velocidade digitação').item.json.palavras_por_minuto, 15) }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        560
      ],
      "id": "c80eed0d-4d8b-46b1-8cc3-158b88ac4be2",
      "name": "Enviar texto",
      "credentials": {
        "chatwootApi": {
          "id": "VebEifiB1KOBjs5x",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n \"mensagens\": [\"mensagem_1\", \"mensagem_2\", \"mensagem_3\", \"mensagem_4\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        768
      ],
      "id": "89a7ba5d-312b-4c56-b657-21b80fa21628",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": "={{ Math.min(60*$('Velocidade digitação').item.json.tamanho_mensagem_palavras/$('Velocidade digitação').item.json.palavras_por_minuto, 15) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        560
      ],
      "id": "5143efef-86ab-4698-92f6-f55ac4a9e1f1",
      "name": "Espera",
      "webhookId": "9db61f84-9b2c-4ace-90e7-400edaa214a2"
    },
    {
      "parameters": {
        "content": "## Simular a digitação de cada mensagem\n\nO cálculo realizado leva em consideração um tamanho médio de palavras na língua portuguesa de ~4.5 caracteres.",
        "height": 324,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        432
      ],
      "typeVersion": 1,
      "id": "86bfec92-1e1c-4f80-bf0e-41bc9ba157bd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Quebrar mensagens",
        "height": 500,
        "width": 1004,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        432
      ],
      "typeVersion": 1,
      "id": "cc22c909-6065-4dc1-b38c-f7cdceff17fc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensagem"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        544
      ],
      "id": "89b488a8-ccbc-495e-a18b-888a3633b124",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        544
      ],
      "id": "dc4ecb50-1956-4680-b1e9-a1bcb9d32f55",
      "name": "Para cada mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2abf4045-85d8-4999-90e3-72126449ea83",
              "name": "palavras_por_minuto",
              "value": "=150",
              "type": "string"
            },
            {
              "id": "8fd6b9d8-9918-451e-9a19-a33619ff73f7",
              "name": "tamanho_mensagem_palavras",
              "value": "={{ $('Para cada mensagem').item.json.mensagem.length/4.5 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        560
      ],
      "id": "917ecbd3-e15f-4493-9697-306dcdb3e3a7",
      "name": "Velocidade digitação"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        768
      ],
      "id": "86528eef-ce41-4bb0-88e6-832c17def0fe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Up5ttBLQzCYD6jkf",
          "name": "demo-agente-link/admin@fazer.ai"
        }
      }
    },
    {
      "parameters": {
        "content": "## Checklist\n- [ ] Abrir nodes da OpenAI e Chatwoot para selecionar credenciais\n- [ ] Modificar a velocidade de digitação para deixar o envio das mensagens mais rápido ou mais devagar.",
        "height": 128,
        "width": 512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        832
      ],
      "id": "c5a673b3-7402-48d9-8bad-61fccb87bcab",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 07.1 [Z-API] Quebrar e enviar mensagens",
        "height": 80,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -192
      ],
      "id": "e2258199-4e79-42d8-88a2-6529eb1fe897",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {
          "destinationFieldName": "mensagem"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        544
      ],
      "id": "fa24eb1a-9218-4b0a-b691-0b197ac0f7f6",
      "name": "Split"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        512,
        768
      ],
      "id": "9e616edc-fdd9-46af-a5dc-f315fc86166d",
      "name": "Refletir"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## PAPEL\n\nVocê é um agente que simula o comportamento humano ao enviar mensagens em um aplicativo de mensagens como o WhatsApp ou Telegram. Seu objetivo é pegar uma mensagem longa recebida como entrada e dividi-la em múltiplas mensagens menores — sem alterar nenhuma palavra do conteúdo original — apenas separando em partes naturais, como um humano faria ao digitar e enviar aos poucos.\n\n## OBJETIVO\n\nTransformar uma única mensagem em um **json** com o campo \"mensagens\" que é um **array de strings**, simulando o envio humano em blocos de texto menores. Por exemplo:\n\n**Entrada:**\n\n> Olá! Estou te mandando essa mensagem para explicar melhor o que aconteceu ontem. Eu cheguei lá por volta das 18h, como combinado, mas não encontrei ninguém. Será que houve algum problema?\n\n**Saída:**\n\n{\n  \"mensagens\": [\n    \"Olá! Estou te mandando essa mensagem para explicar melhor o que aconteceu ontem\",\n    \"Eu cheguei lá por volta das 18h, como combinado\"\n    \"Mas não encontrei ninguém\",\n    \"Será que houve algum problema?\"\n  ]\n}\n\n## FERRAMENTA\n\n- **Refletir**\nUse essa ferramenta sempre para melhorar seu raciocínio e resposta em situações complexas.\n\n## EXEMPLOS\n\n### Exemplo 1: Mensagem simples\n\n**Entrada:**\n\nOi! Tudo bem por aí? Estava pensando em te mandar aquele documento ainda hoje, mas antes queria tirar umas dúvidas. Você pode me ligar assim que puder?\n\n**Saída esperada:**\n```json\n{\n  \"mensagens\": [\n    \"Oi! Tudo bem por aí?\",\n    \"Estava pensando em te mandar aquele documento ainda hoje, mas antes queria tirar umas dúvidas.\",\n    \"Você pode me ligar assim que puder?\"\n  ]\n}\n```\n\n### Exemplo 2: Mensagem com lista (NÃO QUEBRAR)\n\n**Entrada:**\n\nOi! Seguem os documentos que você pediu:\n1. Contrato assinado\n2. Comprovante de pagamento\n3. Nota fiscal\n4. Certificado de conclusão\nMe avisa quando receber tudo!\n\n**Saída esperada:**\n```json\n{\n  \"mensagens\": [\n    \"Oi! Seguem os documentos que você pediu:\",\n    \"1. Contrato assinado\\n2. Comprovante de pagamento\\n3. Nota fiscal\\n4. Certificado de conclusão\",\n    \"Me avisa quando receber tudo!\"\n  ]\n}\n```\n\n**❌ INCORRETO (não fazer):**\n```json\n{\n  \"mensagens\": [\n    \"Oi! Seguem os documentos que você pediu:\",\n    \"1. Contrato assinado\\n2. Comprovante de pagamento\",\n    \"3. Nota fiscal\\n4. Certificado de conclusão\",\n    \"Me avisa quando receber tudo!\"\n  ]\n}\n```\n\n## REGRAS\n\n- Não reescreva o conteúdo. Apenas separe em mensagens menores respeitando a pontuação e pausas naturais.\n- As divisões devem parecer naturais — pense como uma pessoa que está digitando e envia aos poucos.\n- Evite cortar frases no meio sem necessidade.\n- Sempre retorne como um array de strings com a mesma ordem do texto original. \n- Remova vírgulas e pontos nos finais das mensagens, quando necessário.\n- Tente manter cada mensagem entre 1 a 4 frases no máximo, se o texto permitir.\n- **NUNCA QUEBRE A MENSAGEM EM MAIS DE 5 PARTES**\n- Mantenha itens de lista na mesma mensagem. **NUNCA QUEBRE LISTAS EM MÚLTIPLAS MENSAGENS**\n\n## FORMATO DE RESPOSTA\n\nVocê deve responder apenas com um json com o campo \"mensagens\" que é um array de strings, sem introduções, explicações ou textos adicionais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        544
      ],
      "id": "f0a2ca3d-1141-4cdb-a1e3-9d698008c5e0",
      "name": "Agente divisor de mensagens",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "3400d4e0-bae9-4210-a616-b14df5abc503",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -96
      ],
      "id": "15d07d95-5e43-4ea2-bbb7-6c3e2da34dfe",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        352
      ],
      "id": "cf10c81e-ad8b-4a47-a313-364ace34f62b",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        464
      ],
      "id": "5297235c-3bf8-421c-9e1d-89992fe8426e",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -96
      ],
      "id": "6b0816d9-11c9-40bf-8e48-c2a6fb3683f5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](_eqvkmpHQXQ)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        -96
      ],
      "id": "5ab42eb2-fcd8-4325-881a-863de164b796",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Z-API\n\nO funcionamento do \"Digitando...\" na Z-API é levemente diferente do Baileys, então precisamos usar uma lógica um pouco diferente no workflow.\n\nNão se esqueça de conferir a modificação no node \"Gravando...\" no workflow 01 também!",
        "height": 208,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        752
      ],
      "typeVersion": 1,
      "id": "c2175cbb-bed6-4840-971d-a0759062dfb9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Espera": {
      "main": [
        [
          {
            "node": "Para cada mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Para cada mensagem": {
      "main": [
        [],
        [
          {
            "node": "Velocidade digitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Velocidade digitação": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Para cada mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente divisor de mensagens",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente divisor de mensagens": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "285ebaec-0a6a-446f-b8c2-5110b96cae60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df5e70c19307b561c5bfb8a52bd0a2d7fb241c90f71a892f0a6309b32288ea37"
  },
  "id": "qemJQVhkjjc9cAPQ",
  "tags": []
}