workflows/secretaria-v3/WORKFLOWS/11. Agente de Lembretes de Agendamento.json
{
  "name": "11. Agente de Lembretes de Agendamento",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        672
      ],
      "id": "72cc8025-482d-417c-bf41-40219e8815bc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 208,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        624
      ],
      "typeVersion": 1,
      "id": "8ae460f9-b528-41f1-8aef-6cba218b5fee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "6e8c2d3c-bec5-4ee0-8524-a2ddb787de21",
              "name": "id_inbox",
              "value": "1",
              "type": "string"
            },
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "<inserir url do seu chatwoot>",
              "type": "string"
            },
            {
              "id": "720d6a5c-27ab-4763-9866-5d35ae9a5d3c",
              "name": "cadencia_lembretes",
              "value": "[24, 1]",
              "type": "array"
            },
            {
              "id": "a88b4791-9a14-415a-ba30-bcba2b61a2fb",
              "name": "id_agendas",
              "value": "=[\n\"<agenda não configurada>\",\n\"<agenda não configurada>\",\n\"<agenda não configurada>\",\n\"<agenda não configurada>\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        672
      ],
      "id": "775a4225-67a1-4072-ba23-55b2228be457",
      "name": "Info"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id_agenda }}",
          "mode": "id"
        },
        "timeMax": "={{ $now.plus({ day: 7 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1600,
        672
      ],
      "id": "10068495-7333-4076-8d63-8688c0c2efe2",
      "name": "Buscar eventos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id_agendas",
        "options": {
          "destinationFieldName": "id_agenda"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1392,
        672
      ],
      "id": "759fb7f6-53d4-4cf8-8eca-f8ead473ac64",
      "name": "Split"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $('Buscar eventos').item.json.organizer.email }}/events/{{ $('Buscar eventos').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"extendedProperties\": {\n    \"private\": {\n      \"lembrete_enviado_{{ $('Eventos com lembrete pendente').item.json.lembrete }}\": \"true\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        608
      ],
      "id": "9ef66408-9407-484b-9e7f-c488313bd735",
      "name": "Marcar lembrete enviado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a11d239-1259-4192-8181-f77e29385297",
              "leftValue": "={{ $json.lembrete }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2016,
        672
      ],
      "id": "abd157ff-fb66-4f18-aa7c-ea5461b1c020",
      "name": "Eventos com lembrete pendente"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { cadencia_lembretes } = $('Info').item.json;\nconst agora = new Date();\nconst inicio_evento = new Date($json.start.dateTime);\n\nconst horas_ate_evento = (inicio_evento.getTime() - agora.getTime()) / (1000 * 60 * 60);\n\nfor (const lembrete of cadencia_lembretes) {\n  const chave_lembrete = `lembrete_enviado_${lembrete}`;\n  if ($json.extendedProperties?.private?.[chave_lembrete] === 'true') {\n    // Pula se lembrete já foi enviado\n    continue;\n  }\n  \n  // Não disparamos o lembrete se já passou mais de 1h da hora que ele deveria disparar.\n  const limite_inferior = lembrete - 1;\n  const limite_superior = lembrete;\n  \n  if (horas_ate_evento >= limite_inferior && horas_ate_evento <= limite_superior) {\n    $input.item.json.lembrete = lembrete;\n    return $input.item;\n  }\n}\n\nreturn {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        672
      ],
      "id": "310772de-cf74-40ee-b650-9f94640624bc",
      "name": "Algum lembrete pendente?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2864,
        768
      ],
      "id": "f95cb851-9cae-4d0b-b22a-bce395a7dd00",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair informações').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2976,
        768
      ],
      "id": "27e823c3-6c6f-4383-b14f-6646ad7cb9c0",
      "name": "Memoria"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Buscar ou criar contato').item.json.conversa.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Agente de Lembretes de Agendamento').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        608
      ],
      "id": "7b91b1e6-73b0-4a15-b9e2-4c01166377c3",
      "name": "Enviar mensagem",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<lead tem um agendamento com lembrete pendente>\n\n### Informações do evento\n\nAgenda: {{ $('Buscar eventos').item.json.organizer.displayName }}\nData: {{ $('Buscar eventos').item.json.start.dateTime }}\nTítulo: {{ $('Buscar eventos').item.json.summary }}\nDescrição: {{ $('Buscar eventos').item.json.description }}\n\n### Status pagamento\n\n{{ $('Buscar ou criar contato').item.json.contato.custom_attributes.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual da Clínica Moreira, responsável por enviar lembretes de consultas agendadas via WhatsApp. Sua função é relembrar pacientes sobre suas consultas e solicitar confirmação de presença de forma cordial e profissional.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Atenciosa e proativa**: Demonstre cuidado com o compromisso do paciente\n  * **Objetiva e clara**: Vá direto ao ponto sem ser ríspida\n  * **Profissional e cordial**: Mantenha equilíbrio entre formalidade e calor humano\n  * **Paciente**: Facilite a resposta do paciente com opções claras\n</personalidade>\n\n# CONTEXTO DA TAREFA\n\n<contexto>\n  Um lembrete automático precisa ser enviado para um paciente com consulta agendada. O sistema identificou que é momento de solicitar confirmação de presença. Você deve:\n\n  1. Relembrar sobre a consulta agendada\n  2. Solicitar confirmação de presença\n  3. Informar sobre o status do pagamento (se relevante)\n  4. Facilitar a resposta do paciente\n\n  **IMPORTANTE**: Esta é uma mensagem proativa de lembrete - o paciente não solicitou esta informação.\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. ANÁLISE DO CONTEXTO\n\n<analise-contexto>\n  ### 1.1 Informações Recebidas\n\n  Dados disponíveis do sistema:\n  * Profissional: {{ $('Buscar eventos').item.json.organizer.displayName }}\n  * Data/Hora: {{ $('Buscar eventos').item.json.start.dateTime }}\n  * Paciente: {{ $('Buscar eventos').item.json.summary }}\n  * Detalhes: {{ $('Buscar eventos').item.json.description }}\n  * Status Pagamento: {{ $('Buscar ou criar contato').item.json.contato.custom_attributes.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n\n  ### 1.2 Processamento das Informações\n\n  1. Extraia o nome do paciente do título do evento\n  2. Formate a data e hora para apresentação amigável\n  3. Identifique o profissional e especialidade\n  4. Verifique status do pagamento\n</analise-contexto>\n\n## 2. COMPOSIÇÃO DO LEMBRETE\n\n<composicao-lembrete>\n  ### 2.1 Estrutura da Mensagem\n\n  ```\n  SAUDAÇÃO PERSONALIZADA\n  ↓\n  LEMBRETE DA CONSULTA\n  ↓\n  DETALHES (DATA/HORA/PROFISSIONAL)\n  ↓\n  SOLICITAÇÃO DE CONFIRMAÇÃO\n  ↓\n  STATUS PAGAMENTO (se pendente)\n  ↓\n  INSTRUÇÕES PARA RESPOSTA\n  ```\n\n  ### 2.2 Elementos Obrigatórios\n\n  * Saudação com nome do paciente (se disponível)\n  * Data e horário formatados claramente\n  * Nome do profissional\n  * Pergunta direta sobre confirmação\n  * Opções de resposta simples\n\n  ### 2.3 Elementos Condicionais\n\n  Se pagamento pendente:\n  * Lembrete gentil sobre o pagamento\n  * Não condicionar atendimento ao pagamento\n\n  Se consulta em menos de 4h e ainda não confirmada:\n  * Adicionar senso de urgência na confirmação\n\n  Se consulta em mais de 48h:\n  * Tom mais relaxado no lembrete\n</composicao-lembrete>\n\n## 3. FORMATAÇÃO E APRESENTAÇÃO\n\n<formatacao>\n  ### 3.1 Formatação de Data e Hora\n\n  * Dia da semana por extenso\n  * Data no formato DD/MM\n  * Horário no formato HH:MM\n  * Exemplo: \"quinta-feira, dia 12/12 às 09:00\"\n\n  ### 3.2 Facilitadores de Resposta\n\n  * Ofereça opções claras: \"Confirma?\" ou \"Precisa remarcar?\"\n  * Não exija respostas elaboradas\n\n  ### 3.3 Tom Baseado no Tempo\n\n  * Consulta hoje: \"Bom dia! Lembrando que sua consulta é HOJE...\"\n  * Consulta amanhã: \"Olá! Sua consulta é AMANHÃ...\"\n  * Consulta em 2+ dias: \"Olá! Passando para lembrar...\"\n</formatacao>\n\n# REGRAS E VALIDAÇÕES\n\n<validacoes>\n  ## Regras Críticas\n\n  1. **Proibições**\n    * NUNCA cobrar pagamento de forma agressiva\n    * NUNCA solicitar dados adicionais\n    * NUNCA mencionar valores se já pago\n\n  2. **Obrigações**\n    * SEMPRE incluir data e hora completos\n    * SEMPRE solicitar confirmação explicitamente\n    * SEMPRE manter tom cordial\n    * SEMPRE ser breve (máximo 6 linhas)\n\n  3. **Tratamento por Status de Pagamento**\n    * \"Pendente\": Lembrar gentilmente\n    * \"Cobrança confirmada/recebida\": Não mencionar pagamento\n    * \"Cobrança ainda não foi gerada\": Não mencionar pagamento\n    * Outros status: Não mencionar pagamento\n</validacoes>\n\n# EXEMPLOS DE MENSAGENS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Consulta Amanhã (Pagamento OK)\n\n  ```\n  Olá, João Carlos!\n\n  Passando para lembrar da sua consulta amanhã, quinta-feira, dia 12/12 às 09:00 com o Dr. Roberto Almeida.\n\n  Por favor, confirme sua presença ou avise se precisar remarcar.\n\n  Aguardamos sua confirmação!\n  ```\n\n  ## Exemplo 2: Consulta Hoje (Pagamento Pendente)\n\n  ```\n  Bom dia, Maria!\n\n  Lembrando que sua consulta é HOJE às 14:00 com a Dra. Ana Silva.\n\n  Você confirma presença?\n\n  Obs: O pagamento ainda está pendente, mas pode ser feito na recepção.\n  ```\n</exemplos>\n\n# CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Consulta Muito Próxima (menos de 2 horas) e ainda não confirmada (Título do Evento sem \"[CONFIRMADO]\")\n\n  * Adicione \"URGENTE\" no início\n  * Seja ainda mais breve\n  * Solicite confirmação imediata\n\n  ## Título do Evento com \"[CONFIRMADO]\"\n\n  * Reconheça que já houve confirmação prévia\n  * Use: \"Apenas relembrando sua consulta já confirmada...\"\n  * Não solicite nova confirmação\n\n  ## Status de Pagamento Desconhecido\n\n  * Não mencione pagamento\n  * Foque apenas na confirmação de presença\n\n  ## Múltiplos Agendamentos\n\n  * Se detectar mais de um agendamento\n  * Especifique claramente qual consulta\n  * Use nome do paciente específico se disponível\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## LEMBRE-SE SEMPRE\n\n  * ⚠️ Esta é uma mensagem PROATIVA - seja breve e objetiva\n  * ⚠️ Foque APENAS em obter confirmação de presença\n  * ⚠️ NÃO tente resolver outros assuntos\n  * ⚠️ NÃO faça perguntas além da confirmação\n  * ⚠️ Facilite ao máximo a resposta do paciente\n\n  ## FORMATO DE SAÍDA\n\n  * Apenas a mensagem para o paciente\n  * Sem comentários adicionais\n  * Sem explicações sobre o processo\n  * Direto e objetivo\n\n  ## VERIFICAÇÕES IMPORTANTES\n\n  * A data está formatada de forma clara?\n  * O nome do profissional está correto?\n  * A solicitação de confirmação está explícita?\n  * A mensagem tem no máximo 6 linhas?\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2880,
        608
      ],
      "id": "f38d9b0f-0869-467d-a703-f43a25b5e7eb",
      "name": "Agente de Lembretes de Agendamento",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ac21a86-d749-4b9b-b6bb-7098e24a73e3",
              "name": "telefone",
              "value": "={{ $json.description.match(/(\\+55)?\\d{10,11}/)?.first() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        672
      ],
      "id": "765c6272-9a43-46c9-9f54-47a3cfc66b36",
      "name": "Extrair informações"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bbcbfe7-f1e3-4404-af0c-021ce6116cd8",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        672
      ],
      "id": "9cdc7a9e-2f44-4e90-be41-69ebf2f7e62d",
      "name": "Telefone encontrado?"
    },
    {
      "parameters": {
        "errorMessage": "Telefone não encontrado no agendamento."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2656,
        752
      ],
      "id": "8cda9994-4fb1-43f9-b991-1745a533e241",
      "name": "Agendamento sem telefone"
    },
    {
      "parameters": {
        "content": "## Buscar eventos com lembretes pendentes",
        "height": 336,
        "width": 1248,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        544
      ],
      "id": "2e63aa4c-1c40-4a05-8cec-a51da48812b1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar contato no Chatwoot",
        "height": 336,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        544
      ],
      "id": "b0a0f6f6-05ba-4889-b73e-089833dd724e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Criar e enviar lembrete",
        "height": 336,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2832,
        544
      ],
      "id": "8edb7772-3ae0-4bda-9298-24b885f39e2e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B3uXPbfJAnhFWXXx",
          "mode": "list",
          "cachedResultUrl": "/workflow/B3uXPbfJAnhFWXXx",
          "cachedResultName": "<selecionar ou criar subworkflow 10. Buscar ou criar contato + conversa>"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Extrair informações').item.json.telefone }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_inbox": "={{ $('Info').item.json.id_inbox }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2656,
        608
      ],
      "id": "0b6b576c-9856-43df-ae08-c3675af1ce5a",
      "name": "Buscar ou criar contato"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Configurar node \"Info\"\n- [ ] \"Buscar ou criar contato\" -> Workflow 10\n- [ ] Abrir nodes para selecionar credenciais",
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        832
      ],
      "id": "e2d19909-ac4c-4202-bc26-fb15766de108",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 11. Agente de Lembretes de Agendamento",
        "height": 80,
        "width": 544,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -96
      ],
      "id": "4fc27203-101a-4fea-a66f-010f14731604",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3088,
        768
      ],
      "id": "5a704ff9-4009-4b91-88b5-bf94cf4eb2ff",
      "name": "Refletir"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/U3Qx-ayR7To/maxresdefault.webp)](https://www.youtube.com/watch?v=U3Qx-ayR7To)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "b47e5feb-9737-4d55-b1b6-834556f48619",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "a4299e1a-bc93-42b7-8a55-99dfa112e5f4",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIMV)\n\n\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        448
      ],
      "id": "661f530b-1de3-4e4e-9045-7e386a0168bf",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIMV)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        544
      ],
      "id": "8e74d685-acaa-4889-a2c3-63afe607b64a",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "fc418ba5-f736-4709-83a1-2d1505685392",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "@[youtube](GSeRNrsuB_0)",
        "height": 224,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2688,
        0
      ],
      "id": "a3b022a8-1873-4760-bca5-59333243619c",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar eventos": {
      "main": [
        [
          {
            "node": "Algum lembrete pendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Buscar eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos com lembrete pendente": {
      "main": [
        [
          {
            "node": "Extrair informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algum lembrete pendente?": {
      "main": [
        [
          {
            "node": "Eventos com lembrete pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem": {
      "main": [
        [
          {
            "node": "Marcar lembrete enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Lembretes de Agendamento": {
      "main": [
        [
          {
            "node": "Enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair informações": {
      "main": [
        [
          {
            "node": "Telefone encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone encontrado?": {
      "main": [
        [
          {
            "node": "Buscar ou criar contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendamento sem telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar ou criar contato": {
      "main": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7bc73b87-be84-4530-88d3-9e8eac65d3ed",
  "meta": {
    "instanceId": "936a763e3bf4f68eafc951654ad1b8930511c3731cb9e74c28a4773b3e4d1984"
  },
  "id": "Bq8bBw34JMNgGncj",
  "tags": []
}
